.sub-list {
  padding-left: 25px;

  .step-2 {
    margin-left: 15px;
  }
  .step-3 {
    margin-left: 30px;
  }
  .step-4 {
    margin-left: 45px;
  }
}

h4 {
  font-size: 1rem;
}

li {
  font-size: 0.9rem;
}

section {
  padding: 30px 0;
}
