.tag-container {
  font-weight: bold;
  width: 100%;
  height: 400px;

  & > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .tag-item {
      transition: 1.4s;
      cursor: pointer;
    }
  }
}

.tag-footer {
  display: flex;
  justify-content: center;

  .reset-btn {
    color: #a4a4a4;
    border: 1px solid;
  }
}
