@import '../../scss/colors.scss';

.footer-container {
  display: flex;
  align-items: center;
  background-color: #17283a;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.profile {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin-left: 20px;
  font-size: 14px;

  a {
    font-weight: bold;
  }

  span {
    color: #a5a5a5;
    font-size: 13px;
  }

  .link {
    display: flex;
    margin-top: 5px;
  }
}
